.btn.btn-default {
  background: #0D366C;
  color: white;
  &:hover {
    background-color: white;
    color: white;
  }
}

.btn.btn-danger {
  background: white;
  color: white;
  &:hover {
    background-color: #bbd559;
    color: #4D4D4D;
  }
}

.btn.btn-primary {
  background: #bbd559;
  color: #4D4D4D;
  &:hover {
    background-color: white;
    color: white;
  }
}
