body {
    background-color: #282828;
    color: #33CC00;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 15px;
    line-height: 18px;
}

.has-feedback .form-control {
  padding-right: 22px;
}

.tooltip{
  background-color: black;
}

.title-colour{
  color: #FFFFFF;
  font-size: 120%;
}

.sub-title {
  color: #FF9900;
}

a {
  color: #33CCFF;
  letter-spacing: 1px;
}
a:focus, a:hover {
    color: #A11E22;
    text-decoration: none;
}
.dl-horizontal {
  dt {
    float: left;
    text-align: right;
    width: 110px;
    color: #33CCFF;
  }
  dd {
    margin-left: 150px;
  }
}

th {
    color: #FF9900;
}
td {
    color: white;
}
