body {
    background-color: #000000;
    color: #000000;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.title-colour{
    color: #FFFFFF;
}

a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a:focus, a:hover {
    color: #A11E22;
    text-decoration: none;
}
