.navi {
  color: #FFFF99;
  float: right!important;
  line-height: 30px;
  font-size: 110%;
  letter-spacing: 1px;
  padding: 5px 10px 2px 10px;
  border-bottom: 3px solid #323232;
}

.navi:hover {
    color: #FFFFFF;
    border-bottom: 3px solid #A11E22;
    text-decoration: none;
}

.logo {
  color: #FF9900;
}
.logo:hover {
  color: #FFFFFF;
  border-bottom: none;
}
