.more_right {
  color: #CCCCCC;
  float: right!important;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 5px 10px 2px 10px;
  border-bottom: 3px solid #323232;
}

a:hover {
    color: #FFFFFF;
    border-bottom: 3px solid #A11E22;
    background-color: #262626;
    text-decoration: none;
}
