.widget {
  background: #282828 ;
  float: left;
  height: 100%;
  color: #33CC00;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 80%;
  border-style: solid;
  border-color: #A0A0A0;

  &.widget_last {
    margin-right: 0;
  }

  .widget_header {
    background: #282828;
    color: #FFFF99;
    height: 48px;
    line-height: 48px;
    padding: 0 13px;

    .title {
      font-size: 18px;
      margin: 0;
      padding: 0;
    }

    .widget_dropdown {
      float: right;
      a {
        font-size: 15px;
      }
    }
  }

  .widget_content {
    padding: 10px 30px;
  }

  .wid_bottom_link {
    margin-top: 20px;
    padding-right: 15px;
    text-align: right;
  }
}
